.App{
    text-align: center;
}
.content{
  width:100%;
  min-height:100vh;
  background-size: cover; 
  background-color: black;
}
.get{
  color:rgb(60, 6, 110);
  font-style: italic;
  font-size: x-large;
  font-family: Montserrat-Bold;
}
.elemntsInside{
  color: rgb(0, 34, 29);
  font-size: medium;
  font-weight: bold;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #060b26;
    color: white;

}
.nav-pic {
  margin-top: 10px;
  width: 50px;
}

.nav-links{
  text-align: center;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.link_list{
  text-align: center;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: left;
    list-style: none;
    background-size: cover;
    background-color: rgb(90, 7, 90);
   

}




/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* unvisited link */
a {
  text-align: center;
}
a:link {
    color: rgb(212, 207, 218);
    font-size: x-large;
  }
  
  /* visited link */
  a:visited {
    color: rgb(201, 194, 204);
    font-size: x-large;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(80, 102, 145);
    font-size: x-large;
  }
  
  /* selected link */
  a:active {
    color: blue;
    font-size: x-large;
  }

  .buttonHelper{
    flex-wrap: wrap;
  justify-content: center;
  }
 
.buttons{
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.buttons {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
   background: #58095f;
   display: inline-block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;

  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  }
  
  .buttons:hover {
   
    background: #2c2130;
    color: rgb(248, 194, 244);
  }
  .divider{
    position: relative;
  display: inline-block;  
}
  .btn {
    align-self: center;
    align-content: center;
    text-align: center;
    background: #58095f;
    color: white;
    align-items: center;
    align-self: center;
    vertical-align: inherit;
    padding: 10px;
    font-size: 14px;
    border: none;
  }
  .btn:hover{
    
    background: #2c2130;
    color: rgb(248, 194, 244);
  }
  
  
