.App{
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(94, 155, 175);
    color: white;

}

.nav-links{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.link_list{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: left;
    list-style: none;
    background-size: cover;
    background-color: rgb(90, 7, 90);
   

}

/* unvisited link */

a:link {
    color: rgb(212, 207, 218);
    font-size: x-large;
  }
  
  /* visited link */
  a:visited {
    color: rgb(201, 194, 204);
    font-size: x-large;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(80, 102, 145);
    font-size: x-large;
  }
  
  /* selected link */
  a:active {
    color: blue;
    font-size: x-large;
  }
 
.buttons{
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
  
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #58095f;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .buttons:hover {
    background: #2c2130;
    color: rgb(248, 194, 244);
  }
  
  
  
